:root {
  --white: #fff;
  --white-70: rgba(255, 255, 255, 0.7);
  --black: #000;
  --orange: #FD4820;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: var(--black);
}